


<div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-8" >
        <h1>Recherche un superhero</h1>
        <form class="form-inline" role="form">
            <div class="form-group">
                <input class="form-control" ng-model="marvel.name"/>
            </div>
            <button class="btn btn-default" ng-click="marvel.rechercher()">Rechercher</button>
        </form>

        <!--<pre>{{ marvel.results | json }}</pre>-->
        <div ng-show="marvel.searchResult.total > 0">

            <p>{{marvel.searchResult.total}}  éléments, page {{marvel.searchResult.currentPage}} sur {{marvel.searchResult.nbPages}} </p>

            <pagination
                    total-items="marvel.searchResult.total"
                    items-per-pages="marvel.searchResult.nbParPages"
                    page="marvel.searchResult.currentPage"
                    max-size="10"
                    class="pagination-sm"
                    boundary-links="false"
                    rotate="true"
                    on-select-page="marvel.displayPage(page)">
            </pagination>


            <table class="table">
                <thead>
                <td></td>
                <td>Nom</td>
                <td>Description</td>
                </thead>
                <tr ng-repeat="character in marvel.searchResult.data | filter:marvel.name">
                    <td><a ng-href="#/detail/{{character.id}}"><img ng-src="{{marvel.getThumbnail(character)}}"></a></td>
                    <td><a ng-href="#/detail/{{character.id}}">{{character.name}}</a></td>
                    <td><a ng-href="#/detail/{{character.id}}">{{character.description}}</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>