
<div class="container">
    <div class="col-md-2">

    </div>

    <div class="col-md-8">

    <h1>Chat</h1>

    <form role="form">
        <div class="form-group">
            <label>From</label>
            <input class="form-control" placeholder="From" ng-model="chat.message.from">
        </div>
    </form>
    <br/>

    <textarea class="form-control" rows="3" ng-model="chat.message.text" placeholder="Message ..."></textarea>
    <button class="btn btn-default" ng-click="chat.sendMessage()">Envoyer</button>

    <ul class="list-group">
        <li class="list-group-item" ng-repeat="message in chat.messages">
            <strong>{{message.from}} : </strong>
            {{message.text}}
        </li>
    </ul>
    </div>


    <div class="col-md-2">

    </div>
</div>